<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}EOI 生產報表{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0.5rem 1rem; height: 70px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/assy_upload" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 1.3em;">ASSY 生產報表 (from Excel)</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/upload" style="font-size: 1.3em;">SMT 生產報表 (from Excel)</a>
                            <a class="dropdown-item" href="/smtrt_daily" style="font-size: 1.3em;">SMT 生產報表 (from Real-Time Output)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/eol_upload" style="font-size: 1.3em;">EOL 生產報表 (from Excel)</a>
                            <a class="dropdown-item" href="/eolrt_daily" style="font-size: 1.3em;">EOL 生產報表 (from Real-Time Output)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/assy_upload" style="font-size: 1.3em;">ASSY 生產報表 (from Excel)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/assy_upload/" style="font-size: 1.1em;">資料上傳</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/assy_daily/" style="font-size: 1.1em;">每日</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/assy_weekly/" style="font-size: 1.1em;">每周</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active large-font" href="/assy_monthly/" style="font-size: 1.1em;">每月
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4" style="padding-right: 3%;">
        <div class="fig-container">
            {% if placeholder_fig %}
            {% autoescape off %}
            {{ placeholder_fig|safe }}
            {% endautoescape %}
            {% endif %}
        </div>
    </div>
    <div class="container mt-4" style="padding: 3.5%;">
        <h4>當月各工作中心生產狀況</h3>
        <div class="fig-container" style="display: flex; justify-content: center; align-items: center;">
            {% if six_plot %}
            {% autoescape off %}
            {{ six_plot|safe }}
            {% endautoescape %}
            {% endif %}
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</html>