<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}EOI 生產報表{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0.5rem 1rem; height: 70px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/upload" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 1.3em;">SMT 生產報表 (from Excel)</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/upload" style="font-size: 1.3em;">SMT 生產報表 (from Excel)</a>
                            <a class="dropdown-item" href="/smtrt_daily" style="font-size: 1.3em;">SMT 生產報表 (from Real-Time Output)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/eol_upload" style="font-size: 1.3em;">EOL 生產報表 (from Excel)</a>
                            <a class="dropdown-item" href="/eolrt_daily" style="font-size: 1.3em;">EOL 生產報表 (from Real-Time Output)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/assy_upload" style="font-size: 1.3em;">ASSY 生產報表 (from Excel)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/upload/" style="font-size: 1.1em;">資料上傳</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/daily/" style="font-size: 1.1em;">每日</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/weekly/" style="font-size: 1.1em;">每周</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/monthly/" style="font-size: 1.1em;">每月</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br>
    <div class="container mt-4">
        <h3>發生錯誤! 以下為可能原因:</h3>
        <ol>
            <li class="li-error">上傳了錯誤的資料，或勾選了不相符的年份與月份</li>
            <li class="li-error">共用區的excel檔案正在更新</li>
            <li class="li-error">共用區的excel檔案格式有更動</li>
            <li class="li-error">報工時數資料正在更新</li>
       </ol>
       <h4>您可以嘗試重新上傳資料或將共用區的excel檔案下載後再上傳</h4>
       <h4>若仍無法正常運作，請聯絡維護人員</h4>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</html>