<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
    <title>{% block title %}SMT 生產報表{% endblock %}</title>
</head>
<style>
    .dataTable {
        font-size: 16 px;
    }

    .low-percent {
        color: #fc0101 !important; 
        font-weight: bold !important;
    }

    .highlight-row {
        position: relative;
        background-color: #eb7b5a54 !important;
    }

    .dt-input {
        margin-right: 10px; /* Space between label and select menu */
    }

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0.5rem 1rem; height: 70px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SMT 生產報表</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/upload/" style="font-size: 1.1em;">資料上傳
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active large-font" href="/daily/" style="font-size: 1.1em;">每日</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/weekly/" style="font-size: 1.1em;">每周</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/monthly/" style="font-size: 1.1em;">每月</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex" method="POST" action="/daily/">
                {% csrf_token %}
                <div style="padding: 0px 1.5px;"></div>
                    <select class="form-select" id="select1" name="select1">
                        <option value="" disabled selected>另擇特定日期</option>
                        {% for option in options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" name="select_button">Go</button>
            </form>
        </div>
    </nav>
    <div class="container mt-4">
        {% if placeholder_fig %}
        {% autoescape off %}
        {{ placeholder_fig|safe }}
        {% endautoescape %}
        {% endif %}
    </div>
    <div class="container mt-4">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="checked">
            <label class="btn btn-outline-primary" for="btnradio1" style="font-size: 1.1rem; padding: 0.7rem 1rem;">總表</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2" style="font-size: 1.1rem; padding: 0.7rem 1rem;">量產</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3" style="font-size: 1.1rem; padding: 0.7rem 1rem;">試產</label>
        </div><hr>
        <div id="data_container" style="overflow-x: auto; overflow-y: auto; white-space: nowrap;">
            <table id="datatable" name="datatable" class="table table-hover" style="margin:1px;">
                {% csrf_token %}
                <thead>
                    <tr>
                        {% for col in all_columns %}
                        <th scope="col">
                            {{ col }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in all_data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{cell}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="mass_container" style="overflow-x: auto; overflow-y: auto; white-space: nowrap;">
            <table id="table_mass" name="table_mass" class="table table-hover" style="margin:1px;">
                {% csrf_token %}
                <thead>
                    <tr>
                        {% for col in mass_columns %}
                        <th scope="col">
                            {{ col }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in mass_data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{cell}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="trial_container" style="overflow-x: auto; overflow-y: auto; white-space: nowrap;">
            <table id="table_trial" name="table_trial" class="table table-hover" style="margin:1px;">
                {% csrf_token %}
                <thead>
                    <tr>
                        {% for col in trial_columns %}
                        <th scope="col">
                            {{ col }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in trial_data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{cell}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>           
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('#mass_container').hide();
        $('#trial_container').hide();
        
        $('#datatable').DataTable({"paging": true, scrollX: true, "lengthMenu": [10, 25, 50]});

        $('#btnradio1').on('change', function () {
            if ($(this).is(':checked')) {
                $('#data_container').show();
                $('#mass_container').hide();
                $('#trial_container').hide();
            }
        });

        $('#btnradio2').on('change', function () {
            if ($(this).is(':checked')) {
                $('#mass_container').show();
                $('#data_container').hide();
                $('#trial_container').hide();
                if (!$.fn.DataTable.isDataTable('#table_mass')) {
                    $('#table_mass').DataTable({"paging": true, scrollX: true, "lengthMenu": [10, 25, 50]});
                }
            }
        });

        $('#btnradio3').on('change', function () {
            if ($(this).is(':checked')) {
                $('#trial_container').show();
                $('#data_container').hide();
                $('#mass_container').hide();
                if (!$.fn.DataTable.isDataTable('#table_trial')) {
                    $('#table_trial').DataTable({"paging": true, scrollX: true, "lengthMenu": [10, 25, 50]});
                }
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        var columnCount = document.getElementById("datatable").getElementsByTagName("th").length;
        var percentColumnIndexes = [columnCount - 17, columnCount - 8, columnCount - 7, columnCount - 1, columnCount]; 

        var reasonColumnIndex = columnCount - 6; 
        var reasonCells = document.querySelectorAll(`tbody td:nth-child(${reasonColumnIndex})`);
        reasonCells.forEach(function(cell) {
            var reasonText = cell.textContent.trim(); 
            if (reasonText !== "無異常") {
                cell.classList.add("problem");
            }
        });

        percentColumnIndexes.forEach(index => {
            const percentCells = document.querySelectorAll(`table tbody tr td:nth-child(${index}), table tr:last-child td:nth-child(${index})`);
            percentCells.forEach(cell => {
                let value = parseFloat(cell.textContent);
                let formattedValue = (value * 100).toFixed(2) + "%";
                cell.textContent = formattedValue;

                if (index === columnCount - 17 && value < 1) {
                    cell.classList.add("low-percent");
                    const row = cell.parentElement;
                    row.classList.add("highlight-row");
                }
            });
        });
    });
</script>

</html>