<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/datatable.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.min.css">
    <title>{% block title %}SMT 生產報表{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0.5rem 1rem; height: 70px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SMT 生產報表</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/upload/" style="font-size: 1.1em;">資料上傳
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/daily/" style="font-size: 1.1em;">每日</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active large-font" href="/weekly/" style="font-size: 1.1em;">每周</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/monthly/" style="font-size: 1.1em;">每月</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex" method="POST" action="/weekly/">
                {% csrf_token %}
                <div style="padding: 0px 1.5px;"></div>
                    <select class="form-select" id="select2" name="select2">
                        <option value="" disabled selected>另擇特定周次</option>
                        {% for option in options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" name="select_week_button">Go</button>
            </form>
        </div>
    </nav>
    <div class="container mt-4">
        {% if placeholder_fig %}
        {% autoescape off %}
        {{ placeholder_fig|safe }}
        {% endautoescape %}
        {% endif %}
    </div>
    <div class="container mt-4">
        <div id="data_container" style="overflow-x: auto; overflow-y: auto; white-space: nowrap;">
            <h3 style="text-align:left">詳細資訊</h3>
            <table id="weektable" name="weektable" class="table table-hover" style="margin-left: 0px;margin-right: auto;">
                {% csrf_token %}
                <thead>
                    <tr>
                        {% for col in columns %}
                        <th scope="col">
                            {{ col }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr class="table-light">
                        {% for cell in row %}
                        <td>{{cell}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>           
        </div>
    </div>
    
</body>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var columnCount = document.getElementById("weektable").getElementsByTagName("th").length;
    var percentColumnIndexes = [columnCount - 13, columnCount - 2, columnCount - 1, columnCount]; 
    percentColumnIndexes.forEach(index => {
        const percentCells = document.querySelectorAll(`table tbody tr td:nth-child(${index}), table tr:last-child td:nth-child(${index})`);
        percentCells.forEach(cell => {
        let value = parseFloat(cell.textContent);
            cell.textContent = (value * 100).toFixed(2) + "%";
        });
    });
});

</script>

</html>