<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.min.css">
    <title>{% block title %}SMT 生產報表{% endblock %}</title>
</head>
<style>
    .fig-container {
        height: auto;
        width: 100%;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        .navbar-brand {
            font-size: 1.2em;
        }
        .nav-link {
            font-size: 1em;
        }
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0.5rem 1rem; height: 70px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/upload" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 1.3em;">SMT 生產報表</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/eol_upload" style="font-size: 1.3em;">EOL 生產報表</a>
                          <a class="dropdown-item" href="#" style="font-size: 1.3em;">ASSY 生產報表</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/upload/" style="font-size: 1.1em;">資料上傳</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/daily/" style="font-size: 1.1em;">每日</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/weekly/" style="font-size: 1.1em;">每周</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active large-font" href="/monthly/" style="font-size: 1.1em;">每月
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4" style="padding-right: 3%;">
        <div class="fig-container">
            {% if placeholder_fig %}
            {% autoescape off %}
            {{ placeholder_fig|safe }}
            {% endautoescape %}
            {% endif %}
        </div>
    </div>
    <div class="container mt-4" style="padding: 3.5%;">
        <h4>當月各工作中心生產狀況</h3>
        <div class="text-center">
            {% if six_plot %}
            {% autoescape off %}
            {{ six_plot|safe }}
            {% endautoescape %}
            {% endif %}
        </div>
    </div>
</body>
</html>