<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.0.0-beta5/dist/css/tempus-dominus.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.0.0-beta5/dist/js/tempus-dominus.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}EOI 生產報表{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0.5rem 1rem; height: 70px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/smtrt_daily" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 1.3em;">SMT 生產報表 (from Real-Time Output)</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/upload" style="font-size: 1.3em;">SMT 生產報表 (from Excel)</a>
                            <a class="dropdown-item" href="/smtrt_daily" style="font-size: 1.3em;">SMT 生產報表 (from Real-Time Output)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/eol_upload" style="font-size: 1.3em;">EOL 生產報表 (from Excel)</a>
                            <a class="dropdown-item" href="/eolrt_daily" style="font-size: 1.3em;">EOL 生產報表 (from Real-Time Output)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/assy_upload" style="font-size: 1.3em;">ASSY 生產報表 (from Excel)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active large-font" href="/smtrt_daily/" style="font-size: 1.1em;">每日
                        <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/smtrt_weekly/" style="font-size: 1.1em;">每周</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link large-font" href="/smtrt_monthly/" style="font-size: 1.1em;">自選期間</a>
                    </li>
                </ul>
                <form class="d-flex" method="POST" action="/smtrt_daily/?tab={{ selected_tab }}">
                    {% csrf_token %}
                    <input type="hidden" name="tab" value="{{ selected_tab }}">
                    <div style="padding: 0px 1.5px;">
                        <input type="date" id="datePicker" name="datePicker" class="form-control" style="width:200px;" max="{{ yesterday }}">
                    </div>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" name="date_button">Go</button>
                </form>
            </div>
        </div>
    </nav>
    <ul class="nav nav-tabs" role="tablist" style="padding: 0rem 2rem;">
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if request.GET.tab == 'SMT' or not request.GET.tab %}active{% endif %}" id="tab-smt" href="/smtrt_daily?tab=SMT" aria-selected="true" role="tab">SMT</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if request.GET.tab == 'ICT' %}active{% endif %}" id="tab-ict" href="/smtrt_daily?tab=ICT" aria-selected="true" role="tab" tabindex="-1">ICT</a>
        </li>
    </ul>    
    <div class="container mt-4" style="padding-right: 3%;">
        <div class="fig-container">
            {% if placeholder_fig %}
            {% autoescape off %}
            {{ placeholder_fig|safe }}
            {% endautoescape %}
            {% endif %}
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</html>